body{
  background: red !important;
}
  h1{
    text-align: center;
    background: #94f7ca;
}
article{
  font-weight: bold;
  background: #94f7ca;
}
html {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .about-me{
    background: yellow;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  
/*porfolio*/
.container{
    background:#94f7ca;
}
/*contact*/
