
  h1{
    text-align: center;
    background: #cac7cc;
}
p{
  font-weight: med;
 font-size: 20px;

}
html {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  

    .footer{
    overflow: auto;
    margin-top:30px;
    fixed:bottom; 
  } 
/*porfolio*/
.container{
    background:#cac7cc;
}

/*contact*/

  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
    .card{
      width:95%;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }
  
